.slider-container {
    width: 100%; /* Adjust as needed */
    height: 600px; /* Adjust as needed */
  }
  
  .image-wrapper {
    transition: transform 0.3s ease;
  }
  
  .image-wrapper:hover {
    transform: scale(1.5);
  }

  